<mat-card *ngIf="isDataMiningLoading()">
  <mat-card-title>Chargement en cours...</mat-card-title>
  <mat-spinner></mat-spinner>
</mat-card>
<mat-card *ngIf="!isDataMiningLoading()">
  <mat-card-title>Importer une compétence</mat-card-title>
  <form [formGroup]="searchForm" (ngSubmit)="searchSkillsInDataMining()">
    <mat-form-field>
      <input matInput formControlName="englishName" placeholder="Nom anglais">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="frenchName" placeholder="Nom français">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="gumiId" placeholder="Identifiant Gumi" type="number">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Chercher</button>
  </form>
</mat-card>
<app-skills-display *ngIf="isSkillsDisplayed()"
                    [competences]="competences">
</app-skills-display>
