img {
  max-width: 58px;
}

span.ffchImageArray {
  vertical-align: middle;
}

button.ffchSendButton {
  vertical-align: top;
  margin-top: 10px
}

img.ffchstatus {
  margin-bottom: 17px;
  margin-right: 5px;
}
