img {
  max-width: 58px;
}

span.ffchImageArray {
  vertical-align: middle;
  display: inline-block;
  padding-right: 5px;
}

button.ffchSendButton {
  vertical-align: middle;
}

img.ffchstatus {
  vertical-align: middle;
}
