<div *ngIf="hasMateriauxEveil()">
  <ul class="error" *ngIf="isMateriauxEveilErrorsDisplayed()">
    <li *ngFor="let message of materiauxEveilErrors">{{message}}</li>
  </ul>

  <app-formules-display [formule]="unite.materiauxEveil"
                        [formuleFromFfch]="getFormuleFromFfchUniteEveil()"
                        [displayCost]="false"
                        [displaySuccessfulStatus]="true"
                        class="formules-display">
  </app-formules-display>

  <div *ngIf="shouldDisplayObtention()" class="ajoute-obtention-display">
    <mat-checkbox [(ngModel)]="ajouteObtention" [disabled]="areMateriauxEveilPresentInFfchDB()">Ajouter l'obtention ?
    </mat-checkbox>
  </div>

  <button mat-raised-button color="accent" class="ffchSendButton" (click)="sendUniteMateriauxEveilToFfch()"
          *ngIf="!isMateriauxEveilErrorsDisplayed() && !areMateriauxEveilPresentInFfchDB()">
    Envoyer
  </button>
</div>
