<mat-card>
  <button mat-raised-button color="accent" [matMenuTriggerFor]="ffbemenu">FFBE</button>
  <mat-menu #ffbemenu="matMenu" yPosition="below" [overlapTrigger]="false">
    <button mat-menu-item (click)="routeToFfbeCharacters()">Personnages</button>
    <button mat-menu-item (click)="routeToFfbeSkills()">Compétences</button>
    <button mat-menu-item (click)="routeToFfbeEnhancements()">Améliorations</button>
    <button mat-menu-item (click)="routeToFfbeLatentSkills()">Compétences latentes</button>
    <button mat-menu-item (click)="routeToFfbeItems()">Objets</button>
    <button mat-menu-item (click)="routeToFfbeRecipes()">Recettes</button>
  </mat-menu>
</mat-card>
