<mat-card>
  <mat-card-title>Compétences</mat-card-title>

  <ul class="error" *ngIf="isSkillsErrorsDisplayed()">
    <li *ngFor="let message of skillsErrors">{{message}}</li>
  </ul>

  <form>
    <mat-card *ngFor="let competence of competences">
      <mat-card-title>
        <img *ngIf="competence.isPresentInFfchDb()" src="assets/ok.png" class="ffchstatus">
        <img *ngIf="!competence.isPresentInFfchDb()" src="assets/nok.png" class="ffchstatus">
        {{competence.gumi_id}} {{competence.nom}}
      </mat-card-title>
      <div *ngIf="!competence.isPresentInFfchDb()">
        <p>Type {{competence.categorie}} / {{competence.physique}} / {{competence.magique}} / {{competence.hybride}}</p>
        <p>{{competence.description}}</p>
        <p>{{competence.effet_en}}</p>

        <mat-form-field>
          <input matInput type="text" name="effet" [(ngModel)]="competence.effet" placeholder="Effet">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" name="puissance" [(ngModel)]="competence.puissance" placeholder="Puissance">
        </mat-form-field>

        <button mat-raised-button color="accent" (click)="sendCompetenceToFfch(competence)">Envoyer</button>
      </div>
    </mat-card>
  </form>
</mat-card>
