<mat-card>
  <mat-card-title>Compétences</mat-card-title>

  <mat-table [dataSource]="competences">

    <ng-container matColumnDef="gumi_id">
      <mat-header-cell *matHeaderCellDef>Gumi id</mat-header-cell>
      <mat-cell *matCellDef="let competence">{{competence.gumi_id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
      <mat-cell *matCellDef="let competence">{{competence.nom}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let competence">{{competence.description}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="skillsColumnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: skillsColumnsToDisplay;"></mat-row>

  </mat-table>

</mat-card>
