<mat-card *ngIf="isDataMiningLoading()">
  <mat-card-title>Chargement en cours...</mat-card-title>
  <mat-spinner></mat-spinner>
</mat-card>
<mat-card *ngIf="!isDataMiningLoading()">
  <mat-card-title>Importer une amélioration de compétence</mat-card-title>
  <mat-form-field>
    <input matInput [formControl]="characterName" placeholder="Personnage">
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="englishName" placeholder="Nom anglais">
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="frenchName" placeholder="Nom français">
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="gumiId" placeholder="Identifiant Gumi" type="number">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" (click)="searchEnhancementsInDataMining()">Chercher</button>
</mat-card>
<app-enhancements-display *ngIf="areEnhancementsDisplayed()"
                          [ameliorations]="ameliorations">
</app-enhancements-display>
