<mat-card>
  <mat-card-title (click)="switchDisplayed()">
    <img *ngIf="present && !different" src="assets/ok.png" class="ffchstatus">
    <img *ngIf="!present" src="assets/nok.png" class="ffchstatus">
    <img *ngIf="present && different" src="assets/grey/warn.png" class="ffchstatus">
    {{objet.gumi_id}} {{objet.nom}}
  </mat-card-title>

  <div *ngIf="!present || different || displayed">

    <div [ngClass]="'objet-carac-left'">
      <app-objet-carac-display [titre]="'Stats'"
                               [carac]="objet.carac"
                               [estPourcent]="false"
                               [estModifiable]="false">
      </app-objet-carac-display>
    </div>
    <div [ngClass]="'objet-carac-right'">
      <app-objet-carac-display [titre]="'Stats %'"
                               [carac]="objet.caracp"
                               [estPourcent]="true"
                               [estModifiable]="!present">
      </app-objet-carac-display>
    </div>
    <div [ngClass]="'objet-carac-clear'"></div>

  </div>

</mat-card>
