<mat-card>
  <mat-card-title (click)="switchDisplayed()">
    <img *ngIf="present && !different" src="assets/ok.png" class="ffchstatus">
    <img *ngIf="!present" src="assets/nok.png" class="ffchstatus">
    <img *ngIf="present && different" src="assets/grey/warn.png" class="ffchstatus">
    {{objet.gumi_id}} {{objet.nom}}
  </mat-card-title>

  <div *ngIf="!present || different || displayed">
    <table>
      <tr>
        <th>Stats</th>
        <th>Points</th>
        <th>%</th>
      </tr>
      <tr>
        <td>PV</td>
        <td>{{objet.carac.pv}}</td>
        <td>{{objet.caracp.pv}}</td>
      </tr>
      <tr>
        <td>PM</td>
        <td>{{objet.carac.pm}}</td>
        <td>{{objet.caracp.pm}}</td>
      </tr>
      <tr>
        <td>ATT</td>
        <td>{{objet.carac.att}}</td>
        <td>{{objet.caracp.psy}}</td>
      </tr>
      <tr>
        <td>DÉF</td>
        <td>{{objet.carac.def}}</td>
        <td>{{objet.caracp.psy}}</td>
      </tr>
      <tr>
        <td>MAGIE</td>
        <td>{{objet.carac.mag}}</td>
        <td>{{objet.caracp.psy}}</td>
      </tr>
      <tr>
        <td>PSY</td>
        <td>{{objet.carac.psy}}</td>
        <td>{{objet.caracp.psy}}</td>
      </tr>
    </table>


    <div [ngClass]="'objet-carac-left'">
      <app-objet-carac-display [titre]="'Stats'"
                               [carac]="objet.carac"
                               [estPourcent]="false"
                               [estModifiable]="!present">
      </app-objet-carac-display>
    </div>
    <div [ngClass]="'objet-carac-right'">
      <app-objet-carac-display [titre]="'Stats %'"
                               [carac]="objet.caracp"
                               [estPourcent]="true"
                               [estModifiable]="!present">
      </app-objet-carac-display>
    </div>
    <div [ngClass]="'objet-carac-clear'"></div>

  </div>

</mat-card>
