<mat-card>
  <mat-card-title *ngIf="shouldDisplayTitle" (click)="switchDisplayed()">Compétences</mat-card-title>

  <div *ngIf="shouldStayOpen || displayed">

  <ul class="error" *ngIf="isSkillsErrorsDisplayed()">
    <li *ngFor="let message of skillsErrors">{{message}}</li>
  </ul>

  <form>
    <div *ngFor="let competencesContainer of competencesContainers">

      <app-competences-comparing-container-display
        [competencesContainer]="competencesContainer"></app-competences-comparing-container-display>

    </div>
  </form>
  </div>
</mat-card>
