<mat-card *ngIf="isDataMiningLoading()">
  <mat-card-title>Chargement en cours...</mat-card-title>
  <mat-spinner></mat-spinner>
</mat-card>
<mat-card *ngIf="!isDataMiningLoading()">
  <mat-card-title>Importer un personnage</mat-card-title>
  <mat-form-field>
    <input matInput [formControl]="name" placeholder="Nom" required>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" (click)="searchCharacterInDataMining()">Chercher</button>
</mat-card>
<app-character-display *ngIf="isCharacterDisplayed()" [personnage]="personnage"></app-character-display>
