img.ffchstatus {
  margin-bottom: -4px;
}

button.copy-button {
  display: inline-block;
  margin-right: 5px;
}

.copy-to-effect {
  cursor: pointer;
  margin-right: 5px;
  vertical-align: middle;
}

.damage-type {
  margin-left: 10px;
}

img.element {
  height: 24px;
}

mat-form-field textarea {
  resize: both;
}

.competenceEffet {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
}
