<mat-card>
  <mat-card-title (click)="switchDisplayed()">
    <img *ngIf="isRecettePresentInFfchDb() && isRecetteCorrectInFfchDb()" src="assets/ok.png"
         class="ffchstatus">
    <img *ngIf="isRecettePresentInFfchDb() && !isRecetteCorrectInFfchDb()" src="assets/red/warn.png"
         class="ffchstatus">
    <img *ngIf="!isRecettePresentInFfchDb()" src="assets/nok.png" class="ffchstatus">
    {{nomRecetteAffichable()}}
  </mat-card-title>


  <div *ngIf="displayed">
    <table>
      <tr>
        <th>Recette</th>
        <td>{{nomRecetteAffichable()}}</td>
      </tr>
      <tr>
        <th>Résultat</th>
        <td>{{nomResultatAffichable()}}</td>
      </tr>
      <tr>
        <th>Gumi ID recette</th>
        <td>{{recettesContainer.recette.recette_gumi_id}}</td>
      </tr>
      <tr>
        <th>Gumi ID résultat</th>
        <td>{{recettesContainer.recette.resultat_gumi_id}}</td>
      </tr>
      <tr>
        <th>Nombre d'objets fabriqués</th>
        <td>{{recettesContainer.recette.nb_resultat}}</td>
      </tr>
      <tr>
        <th>Processus</th>
        <td>
          <span class="ffchImageArray">
            <img *ngIf="this.isImageObjetPresentInFfchDb(objetRecette)" src="{{objetRecette.icone}}"
               alt="{{objetRecette.nom}}" title="{{objetRecette.nom}} ({{objetRecette.gumi_id}})"/>
            <img
              *ngIf="!this.isImageObjetPresentInFfchDb(objetRecette) && this.isObjetPresentInFfchDb(objetRecette)"
              src="assets/grey/warn.png" alt="{{objetRecette.nom}} ({{objetRecette.gumi_id}})"
              title="{{objetRecette.nom}} ({{objetRecette.gumi_id}})"/>
            <img *ngIf="!this.isObjetPresentInFfchDb(objetRecette)" src="assets/red/warn.png"
               alt="{{this.recettesContainer.recette_gumi_id}}" title="{{this.recettesContainer.recette_gumi_id}}"/>

            <img src="assets/grey/arrow_right.png"/>

            <img *ngIf="this.isImageObjetPresentInFfchDb(objetResultat)" src="{{objetResultat.icone}}"
               alt="{{objetResultat.nom}}" title="{{objetResultat.nom}} ({{objetResultat.gumi_id}})"/>
            <img *ngIf="!this.isImageObjetPresentInFfchDb(objetResultat) && this.isObjetPresentInFfchDb(objetResultat)"
              src="assets/grey/warn.png" alt="{{objetResultat.nom}} ({{objetResultat.gumi_id}})"
              title="{{objetResultat.nom}} ({{objetResultat.gumi_id}})"/>
            <img *ngIf="!this.isObjetPresentInFfchDb(objetResultat)" src="assets/red/warn.png"
               alt="{{this.recettesContainer.resultat_gumi_id}}" title="{{this.recettesContainer.resultat_gumi_id}}"/>
          </span>
        </td>
      </tr>
    </table>

    <app-formules-display [formule]="this.recettesContainer.recette.formule"
                          [formuleFromFfch]="getFormuleFromFfchRecette()"
                          [displayCost]="true"
                          [displaySuccessfulStatus]="false"
                          [titreFormule]="'Materiaux'">
    </app-formules-display>
  </div>

</mat-card>
