<mat-card>
  <mat-card-title>
    {{titre}}
  </mat-card-title>

  <div>
    <table>
      <tr>
        <th>PV</th>
        <td>{{caracFormatee(carac.pv)}}</td>
      </tr>
      <tr>
        <th>PM</th>
        <td>{{caracFormatee(carac.pm)}}</td>
      </tr>
      <tr>
        <th>ATT</th>
        <td>{{caracFormatee(carac.att)}}</td>
      </tr>
      <tr>
        <th>DÉF</th>
        <td>{{caracFormatee(carac.def)}}</td>
      </tr>
      <tr>
        <th>MAGIE</th>
        <td>{{caracFormatee(carac.mag)}}</td>
      </tr>
      <tr>
        <th>PSY</th>
        <td>{{caracFormatee(carac.psy)}}</td>
      </tr>
    </table>
  </div>
</mat-card>
