<div
  [class.objet-left]="objetsContainer.isPresentInFfchDb() && objetsContainer.dbObjet">
  <app-objet-display
    [objet]="objetsContainer.objet"
    [present]="objetsContainer.isPresentInFfchDb()"
    [different]="objetsContainer.isDifferentFromFfchDb()">
  </app-objet-display>
</div>
<div *ngIf="objetsContainer.isPresentInFfchDb() && objetsContainer.dbObjet" class="objet-right">
  <app-objet-display
    [objet]="objetsContainer.dbObjet"
    [present]="true"
    [different]="objetsContainer.isDifferentFromFfchDb()">
  </app-objet-display>
</div>

<div class="objet-clear"></div>

<div *ngIf="objetsContainer.isPresentInFfchDb() && objetsContainer.isDifferentFromFfchDb()">
  <mat-card>
    <mat-card-title (click)="switchModificationPanelDisplayed()">
      Modifier {{objetsContainer.modifiedObjet.nom}}</mat-card-title>

    <div *ngIf="modificationPanelDisplayed">
      <app-objet-display
        [objet]="objetsContainer.modifiedObjet"
        [present]="objetsContainer.isPresentInFfchDb()"
        [different]="objetsContainer.isDifferentFromFfchDb()"
        [editable]="true" (objetModifiedEvent)="objetModified($event)"></app-objet-display>
    </div>
  </mat-card>
</div>
