<mat-card>
  <mat-card-title (click)="switchDisplayed()">
    <img *ngIf="present && !different" src="assets/ok.png" class="ffchstatus" alt="OK">
    <img *ngIf="!present" src="assets/nok.png" class="ffchstatus" alt="Not OK">
    <img *ngIf="present && different" src="assets/grey/warn.png" class="ffchstatus" alt="Warn">
    {{competence.gumi_id}} {{competence.nom}}
    <span *ngIf="competence.gumi_id_lie">(active {{competence.gumi_id_lie}})</span>
  </mat-card-title>
  <div *ngIf="!present || different || displayed">

    <mat-form-field>
      <mat-select placeholder="Catégorie"
                  [(ngModel)]="competence.categorie"
                  [ngModelOptions]="{standalone: true}">
        <mat-option>----------</mat-option>
        <mat-option [value]="1">Magie blanche</mat-option>
        <mat-option [value]="2">Magie noire</mat-option>
        <mat-option [value]="3">Magie verte</mat-option>
        <mat-option [value]="4">Passifs</mat-option>
        <mat-option [value]="5">Sans dégâts</mat-option>
        <mat-option [value]="6">Dégâts physiques</mat-option>
        <mat-option [value]="7">Dégâts magiques</mat-option>
        <mat-option [value]="8">Dégâts hybrides</mat-option>
        <mat-option [value]="9">Dégâts fixes</mat-option>
      </mat-select>
    </mat-form-field>
    <p *ngIf="isSKillFromDamagingCategory()">Dégâts :
      <mat-checkbox [(ngModel)]="competence.physique" class="damage-type">Physiques</mat-checkbox>
      <mat-checkbox [(ngModel)]="competence.magique" class="damage-type">Magiques</mat-checkbox>
      <mat-checkbox [(ngModel)]="competence.hybride" class="damage-type">Hybrides</mat-checkbox>
      <mat-checkbox [(ngModel)]="competence.fixe" class="damage-type">Fixes</mat-checkbox>
      <mat-checkbox [(ngModel)]="competence.esper" class="damage-type">Invocateurs</mat-checkbox>
    </p>

    <p *ngIf="competence.effet_fr" [innerHTML]="competence.effet_fr"></p>
    <p *ngIf="competence.effet_en" [innerHTML]="competence.effet_en"></p>

    <mat-form-field *ngIf="!present || editable">
      <input matInput type="text" name="effet" [(ngModel)]="competence.effet" placeholder="Effet">
    </mat-form-field>

    <mat-form-field *ngIf="!present || editable">
      <input matInput type="number" name="puissance" [(ngModel)]="competence.puissance" placeholder="Puissance">
    </mat-form-field>

    <p *ngIf="present && !editable && !competence.effet_fr" [innerHTML]="competence.effet"></p>

    <table>
      <caption>Détails de la compétence</caption>
      <tr *ngIf="present && !editable">
        <th>Puissance</th>
        <td>{{competence.puissance}}</td>
      </tr>
      <tr>
        <th>PM</th>
        <td>{{competence.pm}}</td>
      </tr>
      <tr>
        <th>LB</th>
        <td>{{competence.lb}}</td>
      </tr>
      <tr>
        <th>EP</th>
        <td>{{competence.ep}}</td>
      </tr>
      <tr>
        <th>Coups</th>
        <td>{{competence.hits}}</td>
      </tr>
      <tr>
        <th>Frames</th>
        <td>{{competence.frames}}</td>
      </tr>
      <tr>
        <th>Damages</th>
        <td>{{competence.damages}}</td>
      </tr>
      <tr>
        <th>Lien</th>
        <td>
          <button mat-raised-button ngxClipboard [cbContent]="generateLinkToFfch()" color="accent" class="copy-button">
            Copier
          </button>
          {{generateLinkToFfch()}}
        </td>
      </tr>
    </table>

    <p *ngIf="!present || editable || shouldDisplayEnhanced()">
      <mat-checkbox [(ngModel)]="competence.enhanced" [disabled]="shouldDisplayEnhanced()">Amélioration</mat-checkbox>
    </p>

    <button mat-raised-button color="accent" class="skill-clear"
            (click)="sendToFfch()"
            *ngIf="!present || editable">
      Envoyer
    </button>
  </div>
</mat-card>
