<mat-card *ngIf="isDataMiningLoading()">
  <mat-card-title>Chargement en cours...</mat-card-title>
  <mat-spinner></mat-spinner>
</mat-card>
<mat-card *ngIf="!isDataMiningLoading()">
  <mat-card-title>Importer un objet</mat-card-title>
  <mat-form-field>
    <input matInput [formControl]="englishName" placeholder="Nom anglais">
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="frenchName" placeholder="Nom français">
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="gumiId" placeholder="Identifiant Gumi" type="number">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" (click)="searchItemsInDataMining()">Chercher</button>
</mat-card>
