<mat-card>
  <mat-card-title>{{personnage.nom}} ({{personnage.jeu.name}})</mat-card-title>
  <table>
    <tr>
      <th>Job</th>
      <td>{{personnage.job}}</td>
    </tr>
    <tr>
      <th>Rang min</th>
      <td>{{personnage.min_rank}}</td>
    </tr>
    <tr>
      <th>Rang max</th>
      <td>{{personnage.max_rank}}</td>
    </tr>
    <tr>
      <th>Gumi ID</th>
      <td>{{personnage.gumi_id}}</td>
    </tr>
    <tr>
      <th>Équipement</th>
      <td><img *ngFor="let equipement of personnage.equipements" src="assets/equipments/{{equipement.imageName}}"
               alt="{{equipement.name}}" title="{{equipement.name}}" class="equipment"/>
      </td>
    </tr>
  </table>
  <app-unit-display *ngFor="let unite of personnage.unites" [unite]="unite"></app-unit-display>
</mat-card>
