<mat-card>
  <mat-card-title>{{personnage.nom}}
    (<img *ngIf="personnage.jeu.isUnknownGame()" src="assets/red/warn.png" alt="Warn" class="gamewarn">{{personnage.jeu.name}})
  </mat-card-title>
  <table>
    <caption>Détails du personnage</caption>
    <tr>
      <th>Job</th>
      <td>{{personnage.job}}</td>
    </tr>
    <tr>
      <th>Rang min</th>
      <td>{{personnage.min_rank}}</td>
    </tr>
    <tr>
      <th>Rang max</th>
      <td>{{personnage.max_rank}}</td>
    </tr>
    <tr>
      <th>Gumi ID</th>
      <td>{{personnage.gumi_id}}</td>
    </tr>
  </table>
  <h2>Équipement</h2>
  <app-character-equipments-display [personnage]="personnage"></app-character-equipments-display>
  <h2>Unités</h2>
  <app-unit-display *ngFor="let unite of personnage.unites" [unite]="unite"></app-unit-display>
</mat-card>
<app-skills-display *ngIf="areCharacterSkillsDisplayed()"
                    [competences]="competences">
</app-skills-display>
