<mat-card>
  <mat-card-title (click)="switchDisplayed()">
    Elements
  </mat-card-title>

  <div *ngIf="displayed">

    <div *ngIf="shouldDiplayElementsDetails()">
      <div [ngClass]="'objet-elements-left'">
        <app-objet-elements-display [objetElements]="objet.resistancesElementaires"
                                    [titre]="'Résistances'"
                                    [estModifiable]="false">
        </app-objet-elements-display>
      </div>

      <div [ngClass]="'objet-elements-middle'">
        <app-objet-elements-display [objetElements]="objet.elementsArme"
                                    [titre]="'Inflictions'"
                                    [estModifiable]="false">
        </app-objet-elements-display>
      </div>
    </div>

    <div [ngClass]="shouldDiplayElementsDetails() ? 'objet-elements-right' : ''">
      <app-objet-elements-display [objetElements]="objet.elements"
                                  [titre]="'Total'"
                                  [titre]="'Inflictions'"
                                  [estModifiable]="!objet.isPresentInFfchDb()">
      </app-objet-elements-display>
    </div>
  </div>
  <div [ngClass]="'objet-elements-clear'"></div>
</mat-card>
