<mat-card *ngIf="isDataMiningLoading()">
  <mat-card-title>Chargement en cours...</mat-card-title>
  <mat-spinner></mat-spinner>
</mat-card>
<mat-card *ngIf="!isDataMiningLoading()">
  <mat-card-title>Importer une compétence latente</mat-card-title>
  <form [formGroup]="searchForm" (ngSubmit)="searchForLatentSkillsInDataMining()">
    <mat-form-field>
      <input matInput formControlName="characterName" placeholder="Personnage">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Chercher
    </button>
  </form>
</mat-card>
<app-enhancements-display *ngIf="areLatentSkillsDisplayed()"
                          [ameliorations]="ameliorations">
</app-enhancements-display>
