<table>
  <caption>Caractéristiques de l'unité</caption>
  <tr>
    <th>Stats</th>
    <th>Base</th>
    <th>Pots</th>
  </tr>
  <tr>
    <td>PV</td>
    <td>{{container.getBase().pv}}</td>
    <td>{{container.getPots().pv}}</td>
  </tr>
  <tr>
    <td>PM</td>
    <td>{{container.getBase().pm}}</td>
    <td>{{container.getPots().pm}}</td>
  </tr>
  <tr>
    <td>ATT</td>
    <td>{{container.getBase().att}}</td>
    <td>{{container.getPots().att}}</td>
  </tr>
  <tr>
    <td>DÉF</td>
    <td>{{container.getBase().def}}</td>
    <td>{{container.getPots().def}}</td>
  </tr>
  <tr>
    <td>MAGIE</td>
    <td>{{container.getBase().mag}}</td>
    <td>{{container.getPots().mag}}</td>
  </tr>
  <tr>
    <td>PSY</td>
    <td>{{container.getBase().psy}}</td>
    <td>{{container.getPots().psy}}</td>
  </tr>
</table>
