<table>
  <caption>Caractéristiques de l'unité</caption>
  <tr>
    <th>Stats</th>
    <th>Base</th>
    <th>Pots</th>
  </tr>
  <tr>
    <td>PV</td>
    <td>{{unite.carac.base.pv}}</td>
    <td>{{unite.carac.pots.pv}}</td>
  </tr>
  <tr>
    <td>PM</td>
    <td>{{unite.carac.base.pm}}</td>
    <td>{{unite.carac.pots.pm}}</td>
  </tr>
  <tr>
    <td>ATT</td>
    <td>{{unite.carac.base.att}}</td>
    <td>{{unite.carac.pots.att}}</td>
  </tr>
  <tr>
    <td>DÉF</td>
    <td>{{unite.carac.base.def}}</td>
    <td>{{unite.carac.pots.def}}</td>
  </tr>
  <tr>
    <td>MAGIE</td>
    <td>{{unite.carac.base.mag}}</td>
    <td>{{unite.carac.pots.mag}}</td>
  </tr>
  <tr>
    <td>PSY</td>
    <td>{{unite.carac.base.psy}}</td>
    <td>{{unite.carac.pots.psy}}</td>
  </tr>
</table>
