<div *ngIf="isFormulePresent()">
  <h3>{{titreFormule}}</h3>

  <ul class="error" *ngIf="areIngredientErrorsDisplayed()">
    <li *ngFor="let message of ingredientsErrors">{{message}}</li>
  </ul>

  <app-formule-display [formule]="formule"
                       [isFormulePresentInFfchDb]="isFormulePresentInFfchDb()"
                       [isFormuleCorrectInFfchDb]="isFormuleCorrectInFfchDb()"
                       [displayCost]="displayCost"
                       [displaySuccessfulStatus]="displaySuccessfulStatus">
  </app-formule-display>
  <app-formule-display *ngIf="isFormulePresentInFfchDb() && !isFormuleCorrectInFfchDb()"
                       [formule]="formuleFromFfch"
                       [isFormulePresentInFfchDb]="isFormulePresentInFfchDb()"
                       [isFormuleCorrectInFfchDb]="isFormuleCorrectInFfchDb()"
                       [displayCost]="displayCost"
                       [displaySuccessfulStatus]="displaySuccessfulStatus">
  </app-formule-display>
</div>
