<h2>{{titre}}</h2>
<ul *ngIf="uniteCompetences?.length" class="competences">
  <li *ngFor="let uniteCompetence of uniteCompetences"
      [ngClass]="!hasLevelMismatch(uniteCompetence) && !isNotFoundInCounterPart(uniteCompetence) ? 'allright' : ''">
    <img *ngIf="hasLevelMismatch(uniteCompetence)"
         src="assets/grey/warn.png" class="ffchstatus" alt="Warn">
    <img *ngIf="isNotFoundInCounterPart(uniteCompetence)"
         src="assets/nok.png" class="ffchstatus" alt="Not OK">
    {{uniteCompetence.niveau}} ● {{uniteCompetence.competence.nom}}
  </li>
</ul>
