<mat-expansion-panel>
  <mat-expansion-panel-header>
    <img *ngIf="unite.isPresentInFfchDb()" src="assets/ok.png" class="ffchstatus" alt="OK">
    <img *ngIf="!unite.isPresentInFfchDb()" src="assets/nok.png" class="ffchstatus" alt="Not OK">
    {{unite.stars}}&#9733;
  </mat-expansion-panel-header>
  <ul class="error" *ngIf="isUniteErrorsDisplayed()">
    <li *ngFor="let message of uniteErrors">{{message}}</li>
  </ul>
  <div class="line">
    <div class="header-cell">Numéro</div>
    <div class="cell">{{unite.numero}}</div>
  </div>
  <div class="line">
    <div class="header-cell">Limite ID</div>
    <div class="cell">{{unite.limite_gumi_id}}</div>
  </div>
  <div class="line">
    <div class="header-cell">Limite</div>
    <div class="cell">{{unite.limite}}<br/>
      <mat-form-field *ngIf="!unite.isPresentInFfchDb()">
        <input matInput type="text" name="effet" [(ngModel)]="unite.lim_desc" placeholder="Effet" required>
      </mat-form-field>
      <ng-container *ngIf="unite.isPresentInFfchDb()">
        {{unite.lim_desc}}
      </ng-container>
    </div>
  </div>
  <div class="line">
    <div class="header-cell">Limite EN</div>
    <div class="cell">{{unite.limite_en}}<br/>{{unite.lim_desc_en}}</div>
  </div>
  <div class="line">
    <div class="header-cell">Limite effet min</div>
    <div class="cell">{{unite.lim_effect_min}}</div>
  </div>
  <div class="line">
    <div class="header-cell">Limite effet max</div>
    <div class="cell">{{unite.lim_effect_max}}</div>
  </div>
  <div class="line">
    <div class="header-cell">Limite effet min (parsé)</div>
    <div class="cell">{{unite.lim_min}}</div>
  </div>
  <div class="line">
    <div class="header-cell">Limite effet max (parsé)</div>
    <div class="cell">{{unite.lim_max}}</div>
  </div>
  <div class="line">
    <div class="header-cell">Limite niveaux</div>
    <div class="cell">{{unite.lim_nb_niv}}</div>
  </div>
  <div class="line">
    <div class="header-cell">Limite hits</div>
    <div class="cell">{{unite.lim_hits}}</div>
  </div>
  <div class="line">
    <div class="header-cell">Limite frames</div>
    <div class="cell">{{unite.lim_frames}}</div>
  </div>
  <div class="line">
    <div class="header-cell">Limite damages</div>
    <div class="cell">{{unite.lim_damages}}</div>
  </div>
  <div class="line">
    <div class="header-cell">Limite coût niveau min</div>
    <div class="cell">{{unite.lim_cristals_niv_min}}</div>
  </div>
  <div class="line">
    <div class="header-cell">Limite coût niveau max</div>
    <div class="cell">{{unite.lim_cristals_niv_max}}</div>
  </div>
  <div class="line">
    <div class="header-cell">Niveau</div>
    <div class="cell">{{unite.carac.level}}/{{unite.carac.level_max}}</div>
  </div>
  <div class="line">
    <div class="header-cell">Lien vers limite</div>
    <div class="cell">
      <button mat-raised-button ngxClipboard [cbContent]="generateLimitLinkToFfch()" color="accent"
              class="copy-button">Copier
      </button>
      {{generateLimitLinkToFfch()}}
    </div>
  </div>

  <table>
    <caption>Caractéristiques de l'unité</caption>
    <tr>
      <th>Stats</th>
      <th>Base</th>
      <th>Pots</th>
    </tr>
    <tr>
      <td>PV</td>
      <td>{{unite.carac.pv}}</td>
      <td>{{unite.carac.pv_pots}}</td>
    </tr>
    <tr>
      <td>PM</td>
      <td>{{unite.carac.pm}}</td>
      <td>{{unite.carac.pm_pots}}</td>
    </tr>
    <tr>
      <td>ATT</td>
      <td>{{unite.carac.att}}</td>
      <td>{{unite.carac.att_pots}}</td>
    </tr>
    <tr>
      <td>DÉF</td>
      <td>{{unite.carac.def}}</td>
      <td>{{unite.carac.def_pots}}</td>
    </tr>
    <tr>
      <td>MAGIE</td>
      <td>{{unite.carac.mag}}</td>
      <td>{{unite.carac.mag_pots}}</td>
    </tr>
    <tr>
      <td>PSY</td>
      <td>{{unite.carac.psy}}</td>
      <td>{{unite.carac.psy_pots}}</td>
    </tr>
  </table>

  <mat-table [dataSource]="unite.competences">

    <ng-container matColumnDef="level">
      <mat-header-cell *matHeaderCellDef>Niveau</mat-header-cell>
      <mat-cell *matCellDef="let uniteCompetence">{{uniteCompetence.niveau}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="id_nom">
      <mat-header-cell *matHeaderCellDef>Id et nom</mat-header-cell>
      <mat-cell *matCellDef="let uniteCompetence">{{uniteCompetence.competence.gumi_id}}
        {{uniteCompetence.competence.nom}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let uniteCompetence">{{uniteCompetence.competence.description}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="skillsColumnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: skillsColumnsToDisplay;"></mat-row>

  </mat-table>

  <button mat-raised-button color="accent" class="ffchSendButton" (click)="sendUniteToFfch(unite)"
          [disabled]="isUniteErrorsDisplayed() || unite.isPresentInFfchDb() || !unite.areAllCompetencesPresentInFfchDb()">
    Envoyer
  </button>

  <app-unit-awakening-materials-display [unite]="unite"></app-unit-awakening-materials-display>

</mat-expansion-panel>
