<mat-expansion-panel>
  <mat-expansion-panel-header>
    <img *ngIf="unite.isPresentInFfchDb()" src="assets/ok.png" class="ffchstatus">
    <img *ngIf="!unite.isPresentInFfchDb()" src="assets/nok.png" class="ffchstatus">
    {{unite.stars}}&#9733;
  </mat-expansion-panel-header>
  <ul class="error" *ngIf="isUniteErrorsDisplayed()">
    <li *ngFor="let message of uniteErrors">{{message}}</li>
  </ul>
  <table>
    <tr>
      <th>Numéro</th>
      <td>{{unite.numero}}</td>
    </tr>
    <tr>
      <th>Limite ID</th>
      <td>{{unite.limite_gumi_id}}</td>
    </tr>
    <tr>
      <th>Limite</th>
      <td>{{unite.limite}}<br/>
        <mat-form-field *ngIf="!unite.isPresentInFfchDb()">
          <input matInput type="text" name="effet" [(ngModel)]="unite.lim_desc" placeholder="Effet" required>
        </mat-form-field>
        <ng-container *ngIf="unite.isPresentInFfchDb()">
          {{unite.lim_desc}}
        </ng-container>
      </td>
    </tr>
    <tr>
      <th>Limite EN</th>
      <td>{{unite.limite_en}}<br/>{{unite.lim_desc_en}}</td>
    </tr>
    <tr>
      <th>Limite effet min</th>
      <td>{{unite.lim_effect_min}}</td>
    </tr>
    <tr>
      <th>Limite effet max</th>
      <td>{{unite.lim_effect_max}}</td>
    </tr>
    <tr>
      <th>Limite niveaux</th>
      <td>{{unite.lim_nb_niv}}</td>
    </tr>
    <tr>
      <th>Limite hits</th>
      <td>{{unite.lim_hits}}</td>
    </tr>
    <tr>
      <th>Limite frames</th>
      <td>{{unite.lim_frames}}</td>
    </tr>
    <tr>
      <th>Limite damages</th>
      <td>{{unite.lim_damages}}</td>
    </tr>
    <tr>
      <th>Limite coût niveau min</th>
      <td>{{unite.lim_cristals_niv_min}}</td>
    </tr>
    <tr>
      <th>Limite coût niveau max</th>
      <td>{{unite.lim_cristals_niv_max}}</td>
    </tr>
    <tr>
      <th>Niveau</th>
      <td>{{unite.carac.level}}/{{unite.carac.level_max}}</td>
    </tr>
  </table>

  <table>
    <tr>
      <th>Stats</th>
      <th>Base</th>
      <th>Pots</th>
    </tr>
    <tr>
      <td>PV</td>
      <td>{{unite.carac.pv}}</td>
      <td>{{unite.carac.pv_pots}}</td>
    </tr>
    <tr>
      <td>PM</td>
      <td>{{unite.carac.pm}}</td>
      <td>{{unite.carac.pm_pots}}</td>
    </tr>
    <tr>
      <td>ATT</td>
      <td>{{unite.carac.att}}</td>
      <td>{{unite.carac.att_pots}}</td>
    </tr>
    <tr>
      <td>DÉF</td>
      <td>{{unite.carac.def}}</td>
      <td>{{unite.carac.def_pots}}</td>
    </tr>
    <tr>
      <td>MAGIE</td>
      <td>{{unite.carac.mag}}</td>
      <td>{{unite.carac.mag_pots}}</td>
    </tr>
    <tr>
      <td>PSY</td>
      <td>{{unite.carac.psy}}</td>
      <td>{{unite.carac.psy_pots}}</td>
    </tr>
  </table>

  <mat-table [dataSource]="unite.competences">

    <ng-container matColumnDef="level">
      <mat-header-cell *matHeaderCellDef>Niveau</mat-header-cell>
      <mat-cell *matCellDef="let uniteCompetence">{{uniteCompetence.niveau}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="id_nom">
      <mat-header-cell *matHeaderCellDef>Id et nom</mat-header-cell>
      <mat-cell *matCellDef="let uniteCompetence">{{uniteCompetence.competence.gumi_id}}
        {{uniteCompetence.competence.nom}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let uniteCompetence">{{uniteCompetence.competence.description}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="skillsColumnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: skillsColumnsToDisplay;"></mat-row>

  </mat-table>

  <app-unit-awakening-materials-display></app-unit-awakening-materials-display>

  <button mat-raised-button color="accent" class="ffchSendButton" (click)="sendUniteToFfch(unite)"
          [disabled]="isUniteErrorsDisplayed() || unite.isPresentInFfchDb() || !unite.areAllCompetencesPresentInFfchDb()">
    Envoyer
  </button>
</mat-expansion-panel>
