img.ffchstatus {
  margin-right: 5px;
}

button.ffchSendButton {
  margin-top: 16px;
}

button.copy-button {
  display: inline-block;
  margin-right: 5px;
}

div.neovision {
  font-weight: bolder;
  background: -webkit-linear-gradient(#ff0000, #fffb00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black; /* width and color */
}

.competences li {
  list-style-type: none;
}

div.table {
  display: table;
  width: 100%;
}

div.header-cell {
  width: 175px;
  white-space: nowrap;
}

mat-form-field textarea {
  resize: both;
}
