<mat-expansion-panel>
  <mat-expansion-panel-header>{{unite.stars}}&#9733;</mat-expansion-panel-header>
  <table>
    <tr>
      <th>Limite ID :</th>
      <td>{{unite.limite_gumi_id}}</td>
    </tr>
    <tr>
      <th>Limite :</th>
      <td>{{unite.limite}}<br />{{unite.lim_desc}}</td>
    </tr>
    <tr>
      <th>Limite hits :</th>
      <td>{{unite.lim_hits}}</td>
    </tr>
    <tr>
      <th>Limite frames :</th>
      <td>{{unite.lim_frames}}</td>
    </tr>
  </table>
</mat-expansion-panel>
