<table>
  <caption>Caractéristiques EX</caption>
  <tr>
    <th>Stats EX</th>
    <th>EX +1</th>
    <th>EX +2</th>
    <th>EX +3</th>
  </tr>
  <tr>
    <th>PV</th>
    <td>{{formateCarac(caracEX[0].getBase().pv)}}</td>
    <td>{{formateCarac(caracEX[1].getBase().pv)}}</td>
    <td>{{formateCarac(caracEX[2].getBase().pv)}}</td>
  </tr>
  <tr>
    <th>PM</th>
    <td>{{formateCarac(caracEX[0].getBase().pm)}}</td>
    <td>{{formateCarac(caracEX[1].getBase().pm)}}</td>
    <td>{{formateCarac(caracEX[2].getBase().pm)}}</td>
  </tr>
  <tr>
    <th>ATT</th>
    <td>{{formateCarac(caracEX[0].getBase().att)}}</td>
    <td>{{formateCarac(caracEX[1].getBase().att)}}</td>
    <td>{{formateCarac(caracEX[2].getBase().att)}}</td>
  </tr>
  <tr>
    <th>DÉF</th>
    <td>{{formateCarac(caracEX[0].getBase().def)}}</td>
    <td>{{formateCarac(caracEX[1].getBase().def)}}</td>
    <td>{{formateCarac(caracEX[2].getBase().def)}}</td>
  </tr>
  <tr>
    <th>MAG</th>
    <td>{{formateCarac(caracEX[0].getBase().mag)}}</td>
    <td>{{formateCarac(caracEX[1].getBase().mag)}}</td>
    <td>{{formateCarac(caracEX[2].getBase().mag)}}</td>
  </tr>
  <tr>
    <th>PSY</th>
    <td>{{formateCarac(caracEX[0].getBase().psy)}}</td>
    <td>{{formateCarac(caracEX[1].getBase().psy)}}</td>
    <td>{{formateCarac(caracEX[2].getBase().psy)}}</td>
  </tr>
</table>
