<mat-card>
  <mat-card-title (click)="switchDisplayed()">
    <img *ngIf="isAmeliorationPresentInFfchDb() && isAmeliorationCorrectInFfchDb()" src="assets/ok.png"
         class="ffchstatus">
    <img *ngIf="isAmeliorationPresentInFfchDb() && !isAmeliorationCorrectInFfchDb()" src="assets/red/warn.png"
         class="ffchstatus">
    <img *ngIf="!isAmeliorationPresentInFfchDb()" src="assets/nok.png" class="ffchstatus">
    {{amelioration.skill_id_base}} {{amelioration.nom}} ({{amelioration.niveau}})
  </mat-card-title>

  <div *ngIf="displayed">
    <mat-form-field>
      <mat-select placeholder="Personnage"
                  [(ngModel)]="amelioration.perso_gumi_id"
                  [ngModelOptions]="{standalone: true}"
                  [disabled]="isSingleCharacter()">
        <mat-option>----------</mat-option>
        <mat-option *ngFor="let personnage of personnages" [value]="personnage.gumi_id">
          {{personnage.gumi_id}} {{personnage.nom}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <app-character-skills-display *ngIf="areSkillsDisplayed()"
                                  [competences]="competences">
    </app-character-skills-display>
    <app-formules-display [formule]="amelioration.formule"
                          [formuleFromFfch]="getFormuleFromFfchAmelioration()"
                          [displayCost]="true"
                          [displaySuccessfulStatus]="false">
    </app-formules-display>

    <p>
      <mat-checkbox [(ngModel)]="amelioration.released" [disabled]="isAmeliorationPresentInFfchDb()">Disponible
      </mat-checkbox>
    </p>

    <button mat-raised-button color="accent" class="ffchSendButton" (click)="sendAmeliorationToFfch()"
            [disabled]="areAmeliorationErrorsDiplayed() || isAmeliorationPresentInFfchDb() || !areAllCompetencesPresentInFfchDb()">
      Envoyer
    </button>
  </div>
</mat-card>


