<div
  [ngClass]="competencesContainer.isPresentInFfchDb() && competencesContainer.dbCompetence ? 'skill-left' : ''">
  <app-character-skill-display
    [competence]="competencesContainer.competence"
    [present]="competencesContainer.isPresentInFfchDb()"
    [different]="competencesContainer.isDifferentFromFfchDb()"></app-character-skill-display>
</div>
<div *ngIf="competencesContainer.isPresentInFfchDb() && competencesContainer.dbCompetence" class="skill-right">
  <app-character-skill-display
    [competence]="competencesContainer.dbCompetence"
    [present]="true"
    [different]="competencesContainer.isDifferentFromFfchDb()"></app-character-skill-display>
</div>

<div class="skill-clear"></div>

<div *ngIf="competencesContainer.isPresentInFfchDb() && competencesContainer.isDifferentFromFfchDb()">
  <mat-card>
    <mat-card-title (click)="switchModificationPanelDisplayed()">
      Modifier {{competencesContainer.modifiedCompetence.nom}}</mat-card-title>

    <div *ngIf="modificationPanelDisplayed">
      <app-character-skill-display
        [competence]="competencesContainer.modifiedCompetence"
        [present]="competencesContainer.isPresentInFfchDb()"
        [different]="competencesContainer.isDifferentFromFfchDb()"
        [editable]="true"></app-character-skill-display>
    </div>
  </mat-card>
</div>
