@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-card {
  margin-bottom: .5rem;
}

mat-expansion-panel {
  width: 100%;
}

table {
  margin-bottom: .5rem;
}

th {
  text-align: left;
  color: rgba(0, 0, 0, .57);
  font-weight: 500;
  padding-right: 10px;
}

mat-form-field {
  width: 100%;
}

ul.error {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

ul.error li {
  color: red;
}

.right {
  text-align: right;
}
