@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-card {
  margin-bottom: .5rem;
}

mat-card.mat-card h2 {
  font-weight: 400;
  font-size: 21px;
}

mat-expansion-panel {
  width: 100%;
}

table {
  margin-bottom: .5rem;
}

table caption {
  font-weight: bold;
}

th, div.header-cell {
  text-align: left;
  color: rgba(0, 0, 0, .57);
  font-weight: 500;
  padding-right: 1rem;
}

div.line {
  display: table-row;
}

div.header-cell, div.cell {
  display: table-cell;
}

mat-form-field {
  width: 100%;
}

ul.error {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

ul.error li {
  color: red;
}

.right {
  text-align: right;
}
