<div *ngIf="unite.competencesActivees?.length">
  <app-unite-competences-array-display [uniteCompetences]="unite.competencesActivees"
                                       [titre]="'Compétences activées'"
                                       [showLevelMismatch]="false">
  </app-unite-competences-array-display>
</div>

<app-unite-competences-array-display [uniteCompetences]="unite.competences"
                                     [titre]="'Compétences'">
</app-unite-competences-array-display>

<div *ngIf="getOrphanedSkills().length">
  <app-unite-competences-array-display [uniteCompetences]="getOrphanedSkills()"
                                       [titre]="'Compétences orphelines'">
  </app-unite-competences-array-display>
</div>
