<div *ngIf="unite.competencesActivees?.length">
  <app-unite-competences-array-display [uniteCompetences]="unite.competencesActivees"
                                       [titre]="'Compétences activées'"
                                       [showLevelMismatch]="false">
  </app-unite-competences-array-display>
</div>

<app-unite-competences-array-display [uniteCompetences]="unite.competences"
                                     [titre]="'Compétences'">
</app-unite-competences-array-display>

<div *ngIf="dbUniteCompetencesOrphelines?.length">
  <app-unite-competences-array-display [uniteCompetences]="dbUniteCompetencesOrphelines"
                                       [titre]="'Compétences orphelines'"
                                       [allowPosting]="false">
  </app-unite-competences-array-display>
</div>
